@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#0FC2C0, #008F8C, #015958 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #022828ab;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #015958;
    text-align: center;
    text-shadow: 1px 1px 2px #014a49a1;
}

h2 {
    color: #0FC2C0;
}

p {
    text-align: justify;
}